
@{
    ViewBag.Title = "coders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Code Behind</h2>

<div class="row" >
    <div class="innerall">
        <div class="col-lg-4">
            <h5>Godwin Edghoson</h5>
            <img class="img-rounded" style="height:200px;width:200px" />
        </div>
    </div>
</div>

Profile of those guys here.

Link to about here as well.
